<!DOCTYPE html>
<html>
<script type="text/javascript">
  
  document.addEventListener('DOMContentLoaded', function() {
  const logoutLink = document.querySelector('.logout-link');
  const logoutForm = document.querySelector('#logout-form');

  logoutLink.addEventListener('click', function(e) {
    e.preventDefault();
    logoutForm.submit();
  });
});

</script>
  <head>
    <title>UserAuthentication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
